@model GameStore.Models.BasketViewModel
<div class="container">
  
         
         
         <div class = "single-shop-product">
              <h1>Корзина пользователей</h1>
         </div>
          <form method="get">
            <div class="form-group">
                <input name="name" class="form-control" placeholder="Введите логин пользователя"/>
            </div>
         </form>
            <table class="tableBasket">
               <thead>
                 <tr>
                    <td><b>ID:</b></td> 
                    <td><b>Наименование игры:</b></td>
                    
                    <td><b>ID Пользователя:</b></td>
                    <td><b>Пользователь</b></td>
                    <td><b>Количество</b></td>
                    <td><b>Цена</b></td>
                 </tr>
             </thead>
             <tbody> 
             @if (Model.Basket.Count() > 0)
             {
                 @foreach (var obj in Model.Basket)
                 {
                     <tr>
                         <td>@obj.id</td>
                         <td>@obj.AllGames.nameGame</td>
                         <td>@obj.UserId</td>
                         <td>@obj.User.UserName</td>
                         <td>@obj.amount</td>
                         <td>@obj.finalPrice</td>      
                     </tr>
                 }
             }          
            </tbody>
            </table>
 </div>
 
