@model AllGames

<div class="container">
     <h1>Добавить игру(измениеть информацию о игре)</h1>      
         <form asp-controller="AllGames" asp-action="Edit" method="post" enctype="multipart/form-data">
           <div class="form-group">
                <label asp-for="nameGame" class="control-label">Название игры</label>
                <input asp-for="nameGame" class="form-control" />
                <span asp-validation-for="nameGame" class="text-danger"></span>
           </div>  
            <div class="form-group">
               <label class="control-label">Жанр</label>
               <select asp-for="Ganres.nameGanres" class="form-control">
                   @foreach (SelectListItem option in ViewBag.GanresList)
                   {
                         <option value="@option.Value">@option.Text</option>
                        
                   }   
            </select>
            </div>
              <div class="form-group">
                <label asp-for="descriptionG" class="control-label">Краткое описание</label>
                <textarea asp-for="descriptionG" class="form-control" ></textarea>
                <span asp-validation-for="descriptionG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="releaseDate" class="control-label">Дата релиза</label>
                <input type="date" value="today" asp-for="releaseDate" class="form-control" />
                <span asp-validation-for="releaseDate" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label class="control-label">Разработчик</label>
                
                <select asp-for="Developers.nameDeveloper" class="form-control">
                    @foreach (SelectListItem option in ViewBag.DevelopersList)
                      {
                          <option value="@option.Value" >@option.Text</option>
                      }
            </select>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label">Цена</label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
           

            <div class="form-group">
            <label class="control-label">Выберите файл постера (Размер картинок для постера игр:195px на 240px)</label>
                <input name="imageFile" id="imageFile" type="file" class="form-control" accept=".png" />
            </div>

            <div class="form-group">
                <label asp-for="Poster" class="control-label">Имя картинки</label>
                <input asp-for="Poster" class="form-control" />
                <span asp-validation-for="Poster" class="text-danger"></span>
            </div>

             
            <div class="form-group">
                <label class="control-label">Платформа</label>
              
                <select asp-for="Platforms.namePlatform" class="form-control">
                    @foreach (SelectListItem option in ViewBag.PlatformsList)
                     {
                           <option value="@option.Value">@option.Text</option>
                     }
            </select>
            </div>
            <div class="form-group">
            <label class="control-label">Выберите файл скриншота игры (Размер картинок для скриншотов игры:1280px на 720px)</label>
                <input name="screenshotGame1" id="screenshotGame1" type="file" class="form-control" accept=".png" />
            </div>

            <div class="form-group">
                <label asp-for="screenshotGame_1" class="control-label">Имя картинки</label>
                <input asp-for="screenshotGame_1" class="form-control" />
                <span asp-validation-for="screenshotGame_1" class="text-danger"></span>
            </div>
                 <div class="form-group">
            <label class="control-label">Выберите файл скриншота игры (Размер картинок для скриншотов игры:1280px на 720px)</label>
                <input name="screenshotGame2" id="screenshotGame2" type="file" class="form-control" accept=".png" />
            </div>

            <div class="form-group">
                <label asp-for="screenshotGame_2" class="control-label">Имя картинки</label>
                <input asp-for="screenshotGame_2" class="form-control" />
                <span asp-validation-for="screenshotGame_2" class="text-danger"></span>
            </div>
                 <div class="form-group">
            <label class="control-label">Выберите файл скриншота игры (Размер картинок для скриншотов игры:1280px на 720px)</label>
                <input name="screenshotGame3" id="screenshotGame3" type="file" class="form-control" accept=".png" />
            </div>

            <div class="form-group">
                <label asp-for="screenshotGame_3" class="control-label">Имя картинки</label>
                <input asp-for="screenshotGame_3" class="form-control" />
                <span asp-validation-for="screenshotGame_3" class="text-danger"></span>
            </div>
                 <div class="form-group">
            <label class="control-label">Выберите файл скриншота игры (Размер картинок для скриншотов игры:1280px на 720px)</label>
                <input name="screenshotGame4" id="screenshotGame4" type="file" class="form-control" accept=".png" />
            </div>

            <div class="form-group">
                <label asp-for="screenshotGame_4" class="control-label">Имя картинки</label>
                <input asp-for="screenshotGame_4" class="form-control" />
                <span asp-validation-for="screenshotGame_4" class="text-danger"></span>
            </div>

              <div class="form-group">
                <label asp-for="linkTrailerGame" class="control-label">Введите сокращённую youtube ссылку на трейлер игры</label>
                <input asp-for="linkTrailerGame" class="form-control" />
                <span asp-validation-for="linkTrailerGame" class="text-danger"></span>
            </div>
        <div class="form-group">
            <label asp-for="OS" class="control-label">Введите рекомендуемую ОС</label>
            <input asp-for="OS" class="form-control" />
            <span asp-validation-for="OS" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CPU" class="control-label">Введите рекомендуемый процессор CPU</label>
            <input asp-for="CPU" class="form-control" />
            <span asp-validation-for="CPU" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="RAM" class="control-label">Введите рекомендуемое количество памяти ОЗУ</label>
            <input asp-for="RAM" class="form-control" />
            <span asp-validation-for="RAM" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="VRAM" class="control-label">Введите рекомендуемую видеокарту</label>
            <input asp-for="VRAM" class="form-control" />
            <span asp-validation-for="VRAM" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="GameWeight" class="control-label">Введите сколько будет занимать игра место на диске</label>
            <input asp-for="GameWeight" class="form-control" />
            <span asp-validation-for="GameWeight" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="features" class="control-label">Введите особенности игры (Для одного игрока, для нескольких игрок и тд)</label>
            <input asp-for="features" class="form-control" />
            <span asp-validation-for="features" class="text-danger"></span>
        </div>
            <div class="form-group">
                <input type="submit" value="Принять" class="btn btn-primary" />
            </div>
        </form>  
 </div>
