 @model GameStore.Models.AllGamesViewModel
<!-- slider area -->
    <div class="slider-area">
        	<!-- Slider -->
			<div class="block-slider block-slider4">
				<ul class="" id="bxslider-home4">
            @if (Model.shares.Count() > 0)
            {
                @foreach (var obj in Model.shares.Take(4))
                {
                    <li>
						<img src="~/images/slider/@obj.nameImageSlider" alt="Slide">
						<div class="caption-group">
							<h2 class="caption title">
								@obj.AllGames.nameGame
							</h2>
							<h4 class="caption subtitle">@obj.AllGames.Ganres.nameGanres</h4>
							<a class="caption button-radius" href="#"><span class="icon"></span>Купи сейчас от @obj.discountPrice BYN вместо <del>@obj.AllGames.price</del> BYN</a>
						</div>
					</li>
                
                }
            }
           
				
				</ul>
			</div>
			<!-- ./Slider -->
    </div> 
    <!-- End slider area -->

    <!-- promo area -->
    <div class="promo-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo1">
                        <i class="fa fa-key"></i>
                        <p>Лицензионные ключи </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo2">
                        <i class="fa fa-gear"></i>
                        <p>Гарантированная техподдержка</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo3">
                        <i class="fa fa-ticket"></i>
                        <p>Регулярные акции, скидки и бонусы</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo4">
                        <i class="fa fa-money"></i>
                        <p>Удобное пополнение счёта</p>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <!-- End promo area -->

    <!-- product widget area -->
    <div class="product-widget-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-product-widget">
                        <h2 class="product-wid-title">Лидеры продаж</h2>
                        <a asp-controller="Home" asp-action="AllGame" class="wid-view-more">Смотреть все</a>
            
                     @if (Model.allGames.Count() > 0)
                     {
                       @foreach (var obj in Model.allGames.Take(3))
                       {
                            <div class="single-wid-product">
                            <img src="~/images/product/@obj.Poster"  alt="" />
                            <h2><a class="product-name" asp-controller="Home" asp-action="SinglePageGame" asp-route-id=@obj.id >@obj.nameGame</a></h2>
                            <div class="product-wid-rating">
                                <p class="descriptionInfo"><b>Жанр:</b> @obj.Ganres.nameGanres</p>
                                <p class="descriptionInfo"><b>Разработчик:</b> @obj.Developers.nameDeveloper </p>
                                <p class="descriptionInfo"><b>Дата выхода:</b>@obj.releaseDate </p>        
                                <p class="descriptionInfo"><b>Описание:</b> @obj.descriptionG</p>
                                <p class="descriptionInfo"><b>Платформа:</b> @obj.Platforms.namePlatform</p>
                                   
                            </div>
                            <div class="product-wid-price">
                                <ins>@obj.price BYN</ins>
                                 <a asp-area="User" asp-controller="Basket" asp-action="Add" asp-route-id=@obj.id  class="add_to_cart_button" >В корзину</a>
                            </div>                            
                            </div>               
                       }
                     }  
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="single-product-widget">
                        <h2 class="product-wid-title">Популярные</h2>
                        <a asp-controller="Home" asp-action="AllGame" class="wid-view-more">Смотреть все</a>

                    @if (Model.allGames.Count() > 0)
                     {
                       @foreach (var obj in Model.allGames.OrderBy(a=>a.price).Take(3))
                       {
                            
                            <div class="single-wid-product">
                            <img src="~/images/product/@obj.Poster"  alt="" />
                            <h2><a class="product-name" asp-controller="Home" asp-action="SinglePageGame" asp-route-id=@obj.id >@obj.nameGame</a></h2>
                            <div class="product-wid-rating">
                                <p class="descriptionInfo"><b>Жанр:</b> @obj.Ganres.nameGanres</p>
                                <p class="descriptionInfo"><b>Разработчик:</b> @obj.Developers.nameDeveloper </p>
                                <p class="descriptionInfo"><b>Дата выхода:</b>@obj.releaseDate </p>  
                                <p class="descriptionInfo"><b>Описание:</b> @obj.descriptionG</p>
                                <p class="descriptionInfo"><b>Платформа:</b> @obj.Platforms.namePlatform</p>
                                   
                            </div>
                            <div class="product-wid-price">
                                <ins>@obj.price BYN</ins>
                                 <a asp-area="User" asp-controller="Basket" asp-action="Add" asp-route-id=@obj.id  class="add_to_cart_button" >В корзину</a> 
                            </div>                            
                            </div>                   
                       }
                     } 


                    </div>
                </div>

                <div class="col-md-4">
                    <div class="single-product-widget">
                        <h2 class="product-wid-title">Новинки</h2>
                        <a asp-controller="Home" asp-action="AllGame" class="wid-view-more">Смотреть все</a>


                    @if (Model.allGames.Count() > 0)
                     {
                       @foreach (var obj in Model.allGames.OrderByDescending(s => s.dateAddedSite).Take(3))
                       {
                            
                            <div class="single-wid-product">
                            <img src="~/images/product/@obj.Poster"  alt="" />
                            <h2><a class="product-name" asp-controller="Home" asp-action="SinglePageGame" asp-route-id=@obj.id >@obj.nameGame</a></h2>
                            <div class="product-wid-rating">
                                <p class="descriptionInfo"><b>Жанр:</b> @obj.Ganres.nameGanres</p>
                                <p class="descriptionInfo"><b>Разработчик:</b> @obj.Developers.nameDeveloper </p>
                                <p class="descriptionInfo"><b>Дата выхода:</b>@obj.releaseDate </p>  
                                <p class="descriptionInfo"><b>Описание:</b> @obj.descriptionG</p>
                                <p class="descriptionInfo"><b>Платформа:</b> @obj.Platforms.namePlatform</p>
                                   
                            </div>
                            <div class="product-wid-price">
                                <ins>@obj.price BYN</ins>
                                <a asp-area="User" asp-controller="Basket" asp-action="Add" asp-route-id=@obj.id  class="add_to_cart_button" >В корзину</a>
                            </div>                            
                            </div>                
                       }
                     } 


                    </div>
                </div>     
            </div>
        </div>
    </div> 
    <!-- End product widget area -->

