@model GameStore.Models.AllGamesViewModel

<!-- product-big-title-area -->
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2><b>Акции</b></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!-- End product-big-title-area -->
     
    
    <!-- single-product-area -->
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
        <div class="row">
                <!-- начала цикла -->
           @if (Model.shares.Count() > 0)
            {
                @foreach (var obj in Model.shares)
                {

                    <div class="col-md-3 col-sm-6">
                        <div class="single-shop-product">
                            <div class="product-upper">
                               <img src="~/images/product/@obj.AllGames.Poster"  alt="" />
                            </div>
                           <h2><a class="product-name" asp-controller="Home" asp-action="SinglePageGame" asp-route-id=@obj.AllGames.id >@obj.AllGames.nameGame</a></h2>
                            <div class="product-wid-rating">
                                <p class="descriptionInfo"><b>Жанр:</b> @obj.AllGames.Ganres.nameGanres</p>
                                <p class="descriptionInfo"><b>Разработчик:</b> @obj.AllGames.Developers.nameDeveloper </p>
                                <p class="descriptionInfo"><b>Дата выхода:</b>@obj.AllGames.releaseDate </p>  
                                <p class="descriptionInfo"><b>Описание:</b> @obj.AllGames.descriptionG</p>
                                <p class="descriptionInfo"><b>Платформа:</b> @obj.AllGames.Platforms.namePlatform</p>
                                   
                            </div>
                            <div class="product-carousel-price">
                              <ins>@obj.discountPrice BYN</ins> <del>@obj.AllGames.price BYN</del>
                            </div>  

                            <div class="product-option-shop">
                                <a asp-area="User" asp-controller="Basket" asp-action="Add" asp-route-id=@obj.AllGames.id  class="add_to_cart_button" >В корзину</a>
                            </div>                       
                        </div>
                    </div>
                }
            }
          
            <!-- конец цикла -->
            </div>
        </div>
    </div>
    <!-- End product-big-title-area -->