@model GameStore.Domain.Entities.AllGames

 <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
              
                
                <div class="col-md-10 ">            
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="product-images">
                                    <div class="product-main-img">
                                         <img src="~/images/product/@Model.Poster"  alt="" />
                                    </div>
                              </div>
                            </div>
                                    <h2 class="product-name">@Model.nameGame</h2>
                                    <div class="product-inner-price">
                                        <ins>@Model.price BYN</ins>
                                    </div>    
                                    
                                    <form action="" class="cart">
                                        <div class="quantity">
                                            <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                                        </div>
                                        <button class="add_to_cart_button" type="submit">Добавить в корзину</button>
                                    </form>   
                                    
                                    <div class="product-inner-category">
                                         <p class="descriptionInfo"><b>Жанр:</b> @Model.Ganres.nameGanres</p>
                                         <p class="descriptionInfo"><b>Разработчик:</b> @Model.Developers.nameDeveloper </p>
                                         <p class="descriptionInfo"><b>Дата выхода:</b>@Model.releaseDate </p>  
                                       
                                         <p class="descriptionInfo"><b>Платформа:</b> @Model.Platforms.namePlatform</p>
                                    </div> 
                        </div>
                        <div  class="">
                            <h2>Описание:</h2>  
                             <p> @Model.descriptionG</p>
                       </div>
                       <div  class="">
                       <iframe width="560" height="315" src="https://www.youtube.com/embed/aSrFWinrkeQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                       </div>

                       <div  class="">
                        <h2>Скриншоты:</h2>  
                        
                        <div class="slider-area">
                            <!-- Slider -->
                            <div class="block-slider block-slider4">
                                <ul class="" id="bxslider-home4">
                                    <li>
                                        <img src="img/screen-image-mercenary-e79283ec.jpg" alt="Slide">
                                    </li>
                                    <li>
                                        <img src="img/h4-slide2.png" alt="Slide">  
                                    </li>
                                    <li>
                                        <img src="img/h4-slide3.png" alt="Slide">
                                    </li>
                                    <li>
                                        <img src="img/h4-slide4.png" alt="Slide">
                                    </li>
                                </ul>
                            </div>
                            <!-- ./Slider -->
                    </div> <!-- End slider area -->
                      </div>
                        
                       
                    </div>                    
             
            </div>
        </div>
    </div>