@model GameStore.Domain.Entities.AllGames

 <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
              
                
                <div class="col-md-10 ">            
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="product-images">
                                    <div class="product-main-img">
                                         <img src="~/images/product/@Model.Poster"  alt="" />
                                    </div>
                              </div>
                            </div>
                                    <h2 class="product-name">@Model.nameGame</h2>
                                    <div class="product-inner-price">
                                        <ins>@Model.price BYN</ins>
                                    </div>    
                                        <div class="quantity">
                                            <a asp-area="User" asp-controller="Basket" asp-action="Add" asp-route-id=@Model.id  class="add_to_cart_button" >В корзину</a>
                                        </div>
                        </div>
                             <div class="product-inner-category">
                                 <p class="descriptionInfo"><b>Жанр:</b> @Model.Ganres.nameGanres</p>
                                 <p class="descriptionInfo"><b>Разработчик:</b> @Model.Developers.nameDeveloper </p>
                                 <p class="descriptionInfo"><b>Дата выхода:</b>@Model.releaseDate </p>       
                                 <p class="descriptionInfo"><b>Платформа:</b> @Model.Platforms.namePlatform</p>
                             </div> 
                        <div  class="">
                            <h2>Описание:</h2>  
                             <p> @Model.fullDescriptionGame</p>
                       </div>
                       <div  class="">
                       <iframe width="560" height="315" src="https://www.youtube.com/embed/@Model.linkTrailerGame" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                       </div>

                       <div  class="">
                        <h2>Скриншоты:</h2>  
                        
                        <div class="slider-area">
                            <!-- Slider -->
                            <div class="block-slider block-slider4">
                                <ul class="" id="bxslider-home4">
                                    <li>
                                         <img src="~/images/product/screenshotGame/@Model.screenshotGame_1"  alt="screenshotGame_1" />
                                    </li>
                                    <li>
                                         <img src="~/images/product/screenshotGame/@Model.screenshotGame_2"  alt="screenshotGame_2" />
                                    </li>
                                    <li>
                                        <img src="~/images/product/screenshotGame/@Model.screenshotGame_3"  alt="screenshotGame_3" />
                                    </li>
                                    <li>
                                        <img src="~/images/product/screenshotGame/@Model.screenshotGame_4"  alt="screenshotGame_4" />
                                    </li>
                                </ul>
                            </div>
                            <!-- ./Slider -->
                    </div> <!-- End slider area -->
                      </div>
                        
                       
                    </div>                    
             
            </div>
        </div>
    </div>